/* Aaron Selgestad */
/* style sheet for instructorProfile.html */
/* gives style to the instructor's profile with some buttons */

/* universal styling for centering text */
* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Dark Blue styling class */
.DarkBlue {
    background-color:#252186;
}

/* Black styling class */
.Black {
    background-color: black;
}

/* puts the footer at the bottom of page */
#footerINT {
    height: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    display: flex;
    background-color: #000000;
    text-align: center;
    flex-direction: column;
    margin-top: 25px;
    position: relative;
    bottom: 0;
}

/* line break in page background */
hr {
    border: 1px solid #ffffff;
}

/* line break in profile card */
hr.cardBreak {
    border: 1px solid #928989;
    width: 95%;
    margin: 0 auto;
}

/* general styling to the body */
body {
    margin: 0;
    padding: 0;
    min-width: 600px;;
}

/* styling to CSN logo */
#CSNlogo {
    height: 50px;
}

/* give styling to the instructor's pfp */
.profileIMG {
    border-radius: 50%;
    margin-top: 28px;
}

/* gives styling to the black fram around pfp */
.profileIMGcontainer {
    height:200px;
    width:200px;
    border-radius: 50%;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-left: auto;
    position: relative;
    box-shadow: 5px 5px #190467;
}

/* simple white box around text */
.simplebox {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

/* Profile text styling */
.cardTextHeader {
    font-size: 125%;
}

/* gives styling to the logout button */
#logout {
    color: #000000;
    text-shadow: 0 0 1% black, 0 0 1% black;
    text-decoration: none;
}

/* small animation to the logout button on mosue over */
#logout:hover {
    color: #252186;
    position: relative;
    top: -1px;
}

/* gives the top yellow bar some styling */
.topbar {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    margin-top: 12px;
    margin-bottom: 12px;
    color:#252186;
    text-shadow: 0 0 1px black, 0 0 1px black;
    box-shadow: 5px 5px #190467;
    border-radius: 10px;
    padding-left: 10px;
    background-color:#c4c406;
    text-align: left;
    padding-top: 1px;
    padding-bottom: 1px;
}

/* gives styling to the img of the instructor */
#instructorIMG {
    width: 90%;
    height: 90%;
    position: relative;
    bottom: 18px;
}

/* BUTTON BLOCK */
/* gives styling and animations to the report button */
.reportButton, .reportButton:active, .reportButton:visited {
    background-color: #6edd7d;
    border: 1px solid green;
    box-shadow: 10px 10px #190467;
    transition-duration: 0.1s;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 50px;
    width: 35%;
    text-decoration: none;
    color: black;
}

/* gives an animation on button hover */
.reportButton:hover {
    color: white;
    border: 1px solid c2e4da;
    border: 2px solid green;
}
/* END BUTTON BLOCK */

/* a container element as parent to the profile card */
#containerINTProfile {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 270px;
    /*background-color: black;*/
    margin-left: auto;
    margin-right: auto;
    flex-grow: 4;
    flex-basis: auto;
    gap: 1px;
    align-items: center;
    padding-bottom: 10px;
}

/* styling to the profile card */
#ProfileBoxINT {
    background-color: #c2e4da;
    border: 2px solid black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 10px 10px #190467;
    margin-bottom: 15px;
    margin-top: 5px;
}
/* removes underline in hypertext */
.noLine {
    text-decoration: none;
}

/* applies a small animation on mouse over to hypertext */
.noLine:hover {
    position: relative;
    top: -1px;
}

.goToTheBottom {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-top: 35px;
    flex-basis: auto;
}